<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LobbyClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <LobbyClient.My.MySettings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Usernames" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoResizeGameColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Autoscroll" serializeAs="String">
                <value>90000000</value>
            </setting>
            <setting name="EnableSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="MaximizeLobbyOnLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevertToChatAfterWhisper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowIconInSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultAdapter" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonColorTopGradient" serializeAs="String">
                <value>-9404272</value>
            </setting>
            <setting name="ButtonColorBottomGradient" serializeAs="String">
                <value>-16777216</value>
            </setting>
            <setting name="ChatColorBackground" serializeAs="String">
                <value>-16777216</value>
            </setting>
            <setting name="ChatColorHyperlink" serializeAs="String">
                <value>-12156236</value>
            </setting>
            <setting name="ChatColorUserLink" serializeAs="String">
                <value>-1465367</value>
            </setting>
            <setting name="ChatColorChatText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ChatColorEmoteText" serializeAs="String">
                <value>-7274497</value>
            </setting>
            <setting name="ChatColorWhisperText" serializeAs="String">
                <value>-7274608</value>
            </setting>
            <setting name="ChatColorAlertText" serializeAs="String">
                <value>-28528</value>
            </setting>
            <setting name="ChatColorWarningText" serializeAs="String">
                <value>-112</value>
            </setting>
            <setting name="ChatColorServerText1" serializeAs="String">
                <value>-5592321</value>
            </setting>
            <setting name="ChatColorServerText2" serializeAs="String">
                <value>-5197648</value>
            </setting>
            <setting name="EnableBadLanguageFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSmilies" serializeAs="String">
                <value>True</value>
            </setting>
        </LobbyClient.My.MySettings>
    </userSettings>
</configuration>
